.card {
    padding:15px;
 
    font-weight: 700;
    font-size: 1.5rem;
    margin: 5px;
    border-radius: 5px;
}
.flex-container{
    display: flex;
    flex-direction: row;
}
@media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
    .is-large.input{
 font-size:15px
    }
    .is-large.button{
    font-size:15px
    }
    .forecast-summary{
        width:100vw;
       align-items: center;
    }
  }